<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">New Reminder</a></li>
            <li class="main-header__item"><a class="<%= path === '/user/set-reminder' ? 'active' : '' %>" href="/user/set-reminder">Set Reminder</a></li>
        </ul>
    </nav>
</header>